<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Alumni Alert System{% endblockk %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <! -- Add navigation here -->
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <! -- Add footer here -->
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>